@import 'colors','fonts';

// *************************************** Global Settings ******* //

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    *::selection{
        background: #000;
        color: #fff;
    }
    *::-moz-selection{
        background: #000;
        color: #fff;
    }

body{
    background-color: #EAE9E0;
    padding-right: 0 !important;
}

html{
    overflow-y: scroll;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

// ---------------------------------------------------------------- //
// ******************************************** Content //

// #front-icon{
//     display: inline-block;
//     width: 90px;
//     height: 90px;
//     border-radius: 50%;
//     position: absolute;
//     top: 20%;
//     right: 50.5%;
//     font-size: 280%;
//     text-align: center;
//     line-height: 85px;
//     color: #EAE9E0;
//     background-color: #343A40;
//     opacity: 0;
//     transition: opacity 5s;
// }

// #dev-icon{
//     display: inline-block;
//     width: 90px;
//     height: 90px;
//     border-radius: 50%;
//     position: absolute;
//     top: 20%;
//     left: 50.5%;
//     font-size: 280%;
//     text-align: center;
//     line-height: 85px;
//     color: #EAE9E0;
//     background-color: #343A40;
//     opacity: 0;
//     transition: opacity 5s;
// }

#language-bubble{
    background-color: #343A40;
    border: 2px solid #9AE5E6;
    color: #9AE5E6;
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 2;
    text-align: center;
    opacity: 0;
    transition: opacity 2s;
    cursor: default;
}

#language-bubble:hover{
    background-color: #23272b;
}

.fa-flag{
    line-height: 48px;
}

.modal{
    font-family: "Ubuntu";
}

.modal-content{
    border-radius: 20px;
    background-color: #eae9e0;
    color: #343A40;
}

#languages{
    display: flex;
    justify-content: center;
    text-align: center;
}

.lang-box{
    width: 50%;
    position: relative;
}

.lang-box>img{
    width: 1rem;
    height: 1rem;
}

.language-btn{
    color: #343A40;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

header{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #343A40;
}

#intro-box{
    padding: 0px 20px;
}

#intro-name{
    font-family: "Sansita";
    font-weight: 500;
    font-size: 3rem;
    opacity: 0;
    transition: opacity 4s;
    cursor: default;
}

#intro-desc{
    font-family: "Ubuntu";
    font-weight: 300;
    font-size: 2rem;
    cursor: default;
    opacity: 0;
    transition: opacity 4s;
}

#word-frontend{
    opacity: 0;
    transition: opacity 4s;
}

#word-development{
    opacity: 0;
    transition: opacity 4s;
}

#intro-button{
    border-radius: 50%;
    color: #eae9e0;
    font-size: 1.6rem;
    opacity: 0;
    transition: opacity 2s;
    cursor: default;
    text-align: center;
}

.fa-play-circle{
    color: #9AE5E6;
    line-height: 2rem;
}

@media (max-width: 992px){
    #intro-name{
        font-size: 2.5rem;
    }
    
    #intro-desc{
        font-size: 1.5rem;
    }
}

@media (max-width: 577px){
    #intro-name{
        font-size: 2rem;
    }
    
    #intro-desc{
        font-size: 1rem;
    }
}

#landing-shape{
    opacity: 0;
    transition: opacity 3s;
    z-index: 1;
}

.custom-shape-divider-bottom-1601852352 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1601852352 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 255px;
}

.custom-shape-divider-bottom-1601852352 .shape-fill {
    fill: #191A1F;
}

#main-box{
    display: none;
}

// ***************************************** Navbar *************** //

#nav-logo{
    color: #eae9e0;
    position: absolute;
    left: 5%;
    top: 45px;
    font-family: 'Courgette', cursive;
    font-size: 200%;
    cursor: pointer;
    transition: all 1s;
}

#nav-logo:hover{
    letter-spacing: 4px;
}

.color-tag{
    color: #9AE5E6;
}

#navbar{
    position: sticky;
    top: 0;
    background-color: #191A1F;
    color: #fff;
}

.navbar-brand{
    margin-left: 3%;
    margin-right: 5%;
}

.nav-link{
    cursor: pointer;
    border-bottom: 6px solid #191A1F;
    transition: all .4s;
    letter-spacing: 2px;
    color: #ABABAB;
    font-weight: 200;
    font-size: 115%;
}
.nav-link:hover{
    border-bottom: 1px solid #9AE5E6;
    color: #fff;
    font-weight: 500;
}

.dropdown-menu{
    background-color: #fff;
    cursor: pointer;
}

.dropdown-item:hover{
    background-color: #fff;
    color: blue;
}

#navbarDropdownMenuLink img{
    height: 1rem;
    width: 1rem;
    margin-bottom: 5px;
    margin-right: 5px;
}

.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(52,52,52, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
border-color: #fff
}

@media all and (min-width: 992px) {
.navbar .nav-item .dropdown-menu{ 
    display: none; 
}
.navbar .nav-item:hover .dropdown-menu{
    display: block;
}
.navbar .nav-item .dropdown-menu{
    margin-top:0;
}
}

// ---------------------------------------------------------------- //

#about-box{
    background-color: #191A1F;
    width: 100%;
    height: 1500px;
}