@import 'colors','fonts';

// *************************************** Global Settings ******* //

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    *::selection{
        background: #000;
        color: #fff;
    }
    *::-moz-selection{
        background: #000;
        color: #fff;
    }

body{
    background-color: #fff;
    // padding-right: 0 !important;
    padding: 0 20px;
    overflow-x: hidden;
}

html{
    overflow-y: scroll;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

.color-tag{
    color: #6f2da8;
}

// ---------------------------------------------------------------- //
// ******************************************** Content //

// ***************************************** Navbar *************** //

#navbar{
    position: fixed;
    top: 10px;
    right: 0;
    z-index: 5;
    opacity: 0;
    transition: opacity 1s;
}

#menu-icon{
    cursor: default;
}

#dropdown-items{
    display: none;
}

.fa-bars{
    font-size: 2rem;
    color: #6f2da8;
    transition: color .3s;
    cursor: default;
}

.fa-bars:hover{
    color: #6f2da8;
}

// ******************************************************************* //

.lang-box{
    width: 100%;
    position: relative;
    margin-left: 12px;
}

.lang-box>img{
    width: 1rem;
    height: 1rem;
    right: -20px;
    top: 3px;
    position: absolute;
}

.language-btn{
    color: #343A40;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

header{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    font-family: "Rubik";
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#intro-box{
    padding: 0px 20px;
}

#intro-name{
    font-weight: 200;
    font-size: 4.5rem;
    color: #fff;
    opacity: 0;
    margin-bottom: 80px;
    transition: opacity 3s, margin-bottom 1.5s;
    cursor: default;
}

#intro-desc{
    font-weight: 300;
    color: #fff;
    font-size: 2rem;
    cursor: default;
    opacity: 0;
    transition: opacity 2s;
}

#word-frontend{
    opacity: 0;
    transition: opacity 2s;
}

#word-development{
    opacity: 0;
    transition: opacity 2s;
}

#intro-button{
    opacity: 0;
    transition: opacity 2s;
    cursor: default;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}

.fa-play-circle{
    font-size: 40px;
    font-weight: 500;
    transition: all .3s;
    &:hover{
        color: #6f2da8;
    }
}

@media (max-width: 710px){
    #intro-name{
        font-size: 3.3rem;
    }
}

@media (max-width: 650px){
    #intro-name{
        font-size: 2.8rem;
    }
    
    #intro-desc{
        font-size: 1.7rem;
    }
    .fa-play-circle{
        font-size: 2rem;
    }
}

@media (max-width: 550px){
    #intro-name{
        font-size: 2.2rem;
    }
    
    #intro-desc{
        font-size: 1.3rem;
    }
    .fa-play-circle{
        font-size: 1.8rem;
    }
    // #language-bubble{
    //     width: 40px;
    //     height: 40px;
    // }
    // // .fa-flag{
    // //     line-height: 38px;
    // // }
}

@media (max-width: 455px){
    #intro-name{
        font-size: 2rem;
    }
    #intro-desc{
        font-size: 1.1rem;
    }
    .fa-play-circle{
        font-size: 1.6rem;
    }
}

@media (max-width: 360px){
    #intro-name{
        font-size: 1.5rem;
    }
    #intro-desc{
        font-size: .9rem;
    }
}

@media (max-width: 340px){
    .fa-play-circle{
        font-size: 1.4rem;
    }
    #language-bubble{
        width: 30px;
        height: 30px;
    }
    .fa-flag{
        line-height: 28px;
        font-size: .8rem;
    }
}

@media (max-width: 300px){
    #intro-name{
        font-size: 1.2rem;
    }
    #intro-desc{
        font-size: 0.7rem;
    }
}

.custom-shape-divider-bottom-1604414453 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

#landing-shape-1 {
    opacity: 1;
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 126px;
}

.custom-shape-divider-bottom-1604414453 .shape-fill {
    fill: #fff;
}

.custom-shape-divider-top-1604414536 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

#landing-shape-2 {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 0px;
    transition: height 2s;
}

.custom-shape-divider-top-1604414536 .shape-fill {
    fill: #fff;
}


@media (max-height: 700px){
    #landing-shape{
        display: none;
    }
}

#main-box{
    display: none;
}

// ---------------------------------------------------------------- //

#about-box{
    background-color: #fff;
    width: 100%;
    height: 100%;
    font-family: "Rubik";
}

.section-headline{
    font-weight: 300;
    cursor: default;
}

.blue-line{
    background-color: #9AE5E6;
}

#about-text-box p{
    color: #777777;
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: default;
}

.about-image{
    width: 100%;
    height: 100%;
}

.about-image img{
    width: 100%;
    height: 380px;
}

@media (max-width: 992px){
    .about-image img{
        width: 100%;
        height: 100%;
    }
}

#about-box-2{
    border-radius: 20px;
}

// ****************************** TECH STACK Section ****** //

#skill-section{
    background-color: #fff;
    // border-top-left-radius: 20px;
    // border-top-right-radius: 20px;
    // -webkit-box-shadow: inset 1px 36px 41px -30px rgba(0,0,0,0.31);
    // -moz-box-shadow: inset 1px 36px 41px -30px rgba(0,0,0,0.31);
    // box-shadow: inset 1px 36px 41px -30px rgba(0,0,0,0.31);
}

.showcase-box{
    padding-top: 7px;
    width: 100%;
    height: auto;
    flex-direction: row;
    margin: 0;
    border: 1px solid #ccc;
}

.skill-headline{
    font-weight: 300;
    color: #343A40;
    font-size: 1.5em;
}

.showcase-box hr{
    background-color: #ccc !important;
}

.showcase-box .card{
    box-sizing: content-box;
    width: 100px;
    height: 170px;
    padding: 10px;
    margin: 10px auto;
    color: #343A40;
    background-color: transparent;
    border: none;
    font-size: 78%;
}

.card img{
    height: 100px;
    width: 100%;
}

.card p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: default;
}

@media (max-width: 440px){
    .skill-headline{
        font-size: 120%;
    }
}

@media (max-width: 401px){
    .showcase-box .card{
        width: 95px;
        height: 140px;
    }
    .card img{
        height: 95px;
    }
    .card p{
        font-size: 70%;
    }
}

@media (max-width: 320px){
    .skill-headline{
        font-size: 100%;
    }
}

// *************************************************************** //

// *** W.I.P. *** //

.fa-hammer{
    color: yellow;
    font-size: 500%;
}

.wip-line{
    color: #ccc;
}