@font-face {
  font-family: "Courgette";
  src: url(../fonts/Courgette/Courgette-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Sansita";
  src: url(../fonts/Sansita/SansitaSwashed-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: 900; }
@font-face {
  font-family: "Sansita";
  src: url(../fonts/Sansita/SansitaSwashed-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "Sansita";
  src: url(../fonts/Sansita/SansitaSwashed-ExtraBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: "Sansita";
  src: url(../fonts/Sansita/SansitaSwashed-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: "Sansita";
  src: url(../fonts/Sansita/SansitaSwashed-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: "Sansita";
  src: url(../fonts/Sansita/SansitaSwashed-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Sansita";
  src: url(../fonts/Sansita/SansitaSwashed-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 300; }
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: normal; }
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-MediumItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 500; }
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700; }
@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik/Rubik-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*::selection {
  background: #000;
  color: #fff; }

*::-moz-selection {
  background: #000;
  color: #fff; }

body {
  background-color: #fff;
  overflow-x: hidden; }

html {
  overflow-y: scroll;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none; }

.color-tag {
  color: #6f2da8;
  opacity: .8; }

#side-nav {
  text-align: center;
  height: 100%;
  width: 150px;
  opacity: 0;
  padding-top: 10px;
  border: 1px solid #ccc;
  border-right: 0;
  border-top: 0;
  background-color: #fff;
  z-index: 5;
  position: fixed;
  top: 0px;
  right: -150px;
  transition: right .5s, opacity .6s; }
  #side-nav::before {
    content: "";
    text-align: start;
    align-self: center;
    padding: 0 0 5px 10px;
    background-color: #6f2da8;
    color: #fff;
    display: block;
    height: 50px;
    width: 200px;
    border-bottom-left-radius: 20px;
    position: relative;
    right: 45px;
    top: -10px;
    -webkit-box-shadow: -11px 7px 31px -1px #cccccc;
    -moz-box-shadow: -11px 7px 31px -1px #cccccc;
    box-shadow: -11px 7px 31px -1px #cccccc; }

#toggle-icon {
  position: absolute;
  top: -2px;
  right: 155px;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: opacity .1s; }

#drop-1, #drop-2, #drop-3 {
  cursor: pointer;
  transition: color .2s; }
  #drop-1:hover, #drop-2:hover, #drop-3:hover {
    color: #6f2da8; }

.language-btn > img {
  width: 1.5rem;
  height: 1.5rem; }

#box-eng, #box-de {
  width: 100%;
  height: 40px;
  padding-left: 5px;
  position: relative; }

#btn-eng, #btn-de {
  transition: opacity .5s; }

.language-tick {
  position: absolute;
  color: #fff;
  opacity: 0;
  top: 7px;
  right: 0px;
  font-size: 1.2rem;
  transition: right .5s, opacity .5s; }

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none; }

header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  font-family: "Rubik";
  background-image: url(../img/base/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  -webkit-box-shadow: inset -16px -107px 47px -82px rgba(117, 117, 117, 0.57);
  -moz-box-shadow: inset -16px -107px 47px -82px rgba(117, 117, 117, 0.57);
  box-shadow: inset -16px -107px 47px -82px rgba(117, 117, 117, 0.57); }

#intro-welcome {
  text-align: center;
  font-weight: 200;
  font-size: 4.5rem;
  color: #343A40;
  opacity: 0;
  margin-bottom: 80px;
  transition: opacity 1s, margin-bottom 1s;
  cursor: default; }

#intro-desc {
  text-align: start;
  font-weight: 300;
  color: #343A40;
  font-size: 2rem;
  cursor: default;
  opacity: .9; }

#full-name, #full-title {
  opacity: 0;
  transition: opacity .5s;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  margin-left: 10px; }

#name-display {
  letter-spacing: 1px; }

#full-name i, #full-title i {
  color: #6f2da8; }

#word-frontend {
  opacity: 0;
  transition: opacity 2s; }

#word-development {
  opacity: 0;
  transition: opacity 2s; }

#intro-button {
  opacity: 0;
  transition: opacity 1s;
  cursor: default;
  text-align: center;
  vertical-align: middle;
  color: #343A40; }

.fa-play-circle {
  font-size: 40px;
  font-weight: 300;
  transition: all .3s; }
  .fa-play-circle:hover {
    color: #6f2da8; }

@media (max-width: 460px) {
  #intro-welcome {
    font-size: 3.7rem; }

  #intro-desc {
    font-size: 1.6rem; } }
@media (max-width: 385px) {
  #intro-welcome {
    font-size: 3.4rem; }

  #intro-desc {
    font-size: 1.5rem; } }
@media (max-width: 360px) {
  #intro-welcome {
    font-size: 3rem; }

  #intro-desc {
    font-size: 1.3rem; }

  .fa-play-circle {
    font-size: 1.8rem; }

  #full-name, #full-title {
    margin-left: 5px; } }
@media (max-width: 320px) {
  #intro-welcome {
    font-size: 2.6rem; }

  #intro-desc {
    font-size: 1.1rem; } }
@media (max-width: 300px) {
  #intro-welcome {
    font-size: 2.2rem; }

  #intro-desc {
    font-size: .9rem; } }
@media (max-width: 255px) {
  #intro-welcome {
    font-size: 2rem; }

  #intro-desc {
    font-size: .8rem; } }
#main-box {
  display: none; }

#about-section {
  width: 100%;
  height: 100%;
  background-color: #6f2da8; }

#about-me {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  color: #fff; }

#about-me div {
  padding: 0 20px; }

#about-skills {
  display: flex;
  justify-content: space-around;
  color: #fff; }

@media (max-width: 1149px) {
  #about-text {
    margin-bottom: 50px !important; } }
@media (max-width: 560px) {
  #about-skills {
    flex-wrap: wrap; }

  .skill-list {
    margin-bottom: 20px; } }
.skill-list {
  width: 100%;
  align-items: center; }

.list-group li {
  background-color: transparent;
  background: rgba(255, 255, 255, 0.15); }

.list-group li:nth-child(1) {
  background: rgba(255, 255, 255, 0.85);
  color: #343A40;
  font-size: 1.2rem; }

.skill-list img {
  width: 1.2rem;
  height: 1.2rem; }

.skill-list span {
  margin-left: 50px; }

.fa-hammer {
  color: yellow;
  font-size: 500%; }

.wip-line {
  color: #ccc; }

/*# sourceMappingURL=style.css.map */
